h1 {

    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
  }
  
  .HeadingContainer {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 35px;
    width: 327px;
    
  
  }
  
  .HeadingContainer span {
  
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    margin-lefT: auto;
    margin-right: 16px;
  }


  .Sun, .Moon {

    cursor: pointer;
    transition: all .2s;
  }

  
  
  .HeadingContainer:hover .Sun {

    filter: invert(69%) sepia(9%) saturate(1343%) hue-rotate(185deg) brightness(153%) contrast(87%)
  }


  @media screen and (min-width: 750px) {

    .HeadingContainer {

        width: 573px;
    }

  }


  @media screen and (min-width: 1440px) {

    .HeadingContainer {

      width: 730px;
    }
  }
  