h1 {

    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
  }
  
  .HeadingContainer {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 31px;
    margin-bottom: 35px;
    width: 327px;
  
  }
  
  .HeadingContainer span {
  
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    text-align: right;
    letter-spacing: 2.5px;
    margin-lefT: auto;
    margin-right: 16px;
  }