/* Transition */


.dark, .light {
    transition: .2s all;
    
}

/* Light */

.App.light {

    background-color: rgb(243, 254, 255);
}

.light .SearchBar,
.light .ResultsContainer {

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;    
    background-color: white;

}


.light .StatsContainer {

    background-color: white;
}


.light span,
.light p
 {

    color: #4B6A9B;
    
}

.light h1 {
    color: #222731;
}

.light h2 {

    color:#2B3442;
}


.light .StatsChild span:first-child {
    
    color: #4B6A9B;  


}


.light .ProfileChild span:nth-of-type(2) {


    color: #697C9A;
}

.light input::placeholder,
.light input,
.light a {

    color: #4B6A9B;
}
  
.light .Moon:hover {

    filter: invert(0%) sepia(100%) saturate(31%) hue-rotate(114deg) brightness(57%) contrast(100%);

}


.light .ProfileIcon {

    filter: unset;
}

